@model List<EmployeeManagement.ViewModels.ProjectVM>
}
<table class="table">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Status</th>
            <th>ManagerName</th>
            <th>Department</th>
            <th>ClientName</th>
            <th>ClientEmail</th>
            <th>ClientAdress</th>
            <th>Country</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>LastUpdatedAt</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td hidden>@project.Id</td>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>@project.StartDate</td>
                <td>@project.EndDate</td>
                <td>@project.Status</td>
                <td>@project.ManagerName</td>
                <td>@project.DepartmentN</td>
                <td>@project.ClientName</td>
                <td>@project.ClientEmail</td>
                <td>@project.ClientAdress</td>
                <td>@project.Country</td>
                <td>@project.CreatedAt</td>
                <td>@project.UpdatedAt</td>
                <td>@project.LastUpdatedAt</td>
                <td><a href="UpdateProject/@project.Id">Update/Delete</a></td>

            </tr>
        }
    </tbody>
</table>
